---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import MyDescription from '../../components/MyDescription.astro';
import Experience from '../../components/Experience.astro';
import MyProjects from '../../components/MyProjects.astro';
import Footer from '../../components/Footer.astro';
import Education from '../../components/Education.astro';

const default_language = "es"
---

<Layout title="Portfolio" language={default_language}>
	<Header selected_language={default_language}></Header>
	<main>
		<MyDescription selected_language={default_language}></MyDescription>
		<Experience selected_language={default_language}></Experience>
		<Education selected_language={default_language}></Education>
		<MyProjects selected_language={default_language}></MyProjects>
	</main>
	<Footer></Footer>
</Layout>