---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Header from '../../components/Header.astro';
import MyDescription from '../../components/MyDescription.astro';
import MyProjects from '../../components/MyProjects.astro';
import Experience from '../../components/Experience.astro';

const default_language = "en"
---

<Layout title="Portfolio" language={default_language}>
	<Header selected_language={default_language}></Header>
	<main>
		<MyDescription selected_language={default_language}></MyDescription>
		<Experience selected_language={default_language}></Experience>
		<MyProjects selected_language={default_language}></MyProjects>
	</main>
</Layout>
