---
import ProjectCard from "./ProjectCard.astro";
import projects_data from "../util/projects.json"; 

import translations_data from '../util/translations.json';
import type { Translations, Projects } from "../util/interfaces";

type Language = keyof Translations;

interface Props{
    selected_language: Language
}

const translations: Translations = translations_data
const projects: Projects = projects_data

const { selected_language } = Astro.props;
---

<section>
    <h2 class="text-5xl font-bold text-center mb-8 mt-4 dark:text-amber-200">{selected_language == 'es' ? 'Proyectos' : "Projects"}</h2>
    {(Object.keys(projects) as (keyof Projects)[]).map((key,index) => {
        return <ProjectCard 
            image_url={projects[key].image} 
            title={translations[selected_language][projects[key].title]} 
            description={translations[selected_language][projects[key].description]}
            tags={projects[key].tags}
            tags_text={projects[key].tags_text}
            year={projects[key].year}
            index={index}
        />;
    })}
    
</section>